# pandas tutorial

https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series(["first item", "2nd item", 3])

In [3]:
s

0    first item
1      2nd item
2             3
dtype: object

In [5]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.306155  0.009751 -0.460483 -0.561012
2013-01-02  0.081504 -0.544393 -2.217013  0.366796
2013-01-03 -0.102146 -1.647624 -1.012871 -0.057586
2013-01-04 -0.406354  0.259864 -0.724967 -1.015657
2013-01-05  2.222594 -1.024321  0.716544  0.763591
2013-01-06  0.657164  0.488036 -0.487515  1.417051

In [9]:
list1=["A", "B"]
list2=[1, 2]

np.array([list1, list2])

array([['A', 'B'],
       ['1', '2']], dtype='|S1')

In [14]:
df = pd.DataFrame(np.random.randn(2,2), columns=[List1, List2])

NameError: name 'List1' is not defined

In [13]:
df

      list1     list2
0 -0.208054  0.111016
1  0.672211  0.491480

In [25]:
dictionary={"A":1,
           "B":pd.Timestamp("20130102")
           }

In [27]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [28]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

### kaggle pandas

In [32]:
pd.DataFrame({"column1":["value1"],
             "column2":["value2"]},
            index=["line1"])

      column1 column2
line1  value1  value2

In [ ]:
import pandas as pd
pd.set_option("max_rows", 5)
from learntools.core import binder ; bin