# New tests

In [24]:
import requests
import pandas as pd
import numpy as np

In [25]:
kewy_list="T:\colin\BRice\V2\gwas-gene-discovery\mock_keyword_list.txt"
disc_genes="T:\colin\BRice\V2\gwas-gene-discovery\MLM.DTF.GWAS.Results\summary_genes_discovered.txt"

In [68]:
def knetapi0(disc_genes):
    with open(kewy_list, "r") as fl:
        pheno=[]
        for line in fl:
            pheno.append(line.rstrip())
            #all keyword from plain text file into pheno list.
        summary=pd.read_csv(disc_genes, sep="\t")
        genelist=list(summary[u'GENE'])
        genestr=(",").join(genelist)
        #all genes in column 0 of summary into one string
        return summary.head()

In [69]:
knetapi0(disc_genes)

,GENE,CHROMOSOME,SNP_number,SNP_Base_Position,p-value,logP,SNP_effect,allele_info,Gene_description,strand
0,Os03g0122600,3,1,1278045,8.740000e-09,8.058489,intron_variant,"[u'G', u'A']",None,None
1,Os03g0122600,3,2,1283193,2.140000e-08,7.669586,intron_variant,"[u'C', u'T']",None,None
2,Os03g0122600,3,3,1275151,2.980000e-08,7.525784,intron_variant,"[u'T', u'C']",None,None
3,Os03g0122600,3,4,1286390,4.790000e-08,7.319664,intron_variant,"[u'G', u'A']",None,None
4,Os03g0122600,3,5,1300254,5.040000e-08,7.297569,5_prime_UTR_variant,"[u'C', u'T']",None,None

In [64]:
def knetapi(disc_genes):
    with open(kewy_list, "r") as fl:
        pheno=[]
        for line in fl:
            pheno.append(line.rstrip())
            #all keyword from plain text file into pheno list.
        summary=pd.read_csv(disc_genes, sep="\t")
        genelist=list(summary[u'GENE'])
        genestr=(",").join(genelist)
        #all genes in column 0 of summary into one string
        
        #use str.join() to convert multiple elments in a list into one string.
        keyw1 = "%20OR%20".join("({})".format(i.replace(" ", "+AND+")) for i in pheno)
        link="http://knetminer.rothamsted.ac.uk/riceknet/genome?"
        parameters={"keyword":keyw1, "list":genestr}
        r=requests.get(link, params=parameters)
        
        #check if requests is successful
        if not r.ok:
                r.raise_for_status()
                sys.exit()

        #extract unicode string of geneTable decoded from json
        decoded=r.json()[u'geneTable'].split("\t")
        #remove space or newline at the end
        decoded=(decoded)[:-1]
        
        colnum=9
        #tabulate genetable into 9 columns.
        genetable=np.array(decoded).reshape(len(decoded)//colnum, colnum)
        genetable=pd.DataFrame(genetable[1:,:], columns=genetable[0,:])
        
        #delete useless columns from genetable.
        genetable=genetable.drop([u'ONDEX-ID', u'GENE NAME', u'TAXID', u'USER', u'QTL'], axis=1)
        
        #rename genetable columns.
        genetable.rename (
        columns={
            "ACCESSION":"Knetminer_genes",
            "CHRO":"Gene_chromosome",
            "START":"Gene_Base_Position",
            "SCORE":"KnetScore"
        }, inplace=True
        )
        
        return genetable
        #compare genetable and summary

In [65]:
knetapi(disc_genes)

  Knetminer_genes Gene_chromosome Gene_Base_Position KnetScore
0    OS03G0122600               3            1270320    125.60
1    OS06G0156700               6            2898787     10.64
2    OS06G0156600               6            2893694     10.64
3    OS06G0164900               6            3286611      5.94
4    OS06G0166100               6            3322909      0.00

# Stuck

 - can iterate through rows. For every row if genes are the same append knetscore.
 - can iterate through columns. If columns are the same add relevant value.